

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
}

.contenedor{
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

h1,h2,h3{
    font-weight: 700;
    margin:  0;
    line-height: 1.2;
}
p{
    margin: 0px;
}
h2{
    font-size: 3rem;
    margin: 1rem 0px;
}
a{
    text-decoration: none;
    color: white;
}

.btn{
    color: #ffffff;
background-color: #f2265d;
border: none;
padding: 1rem 2rem;
margin-top: 2rem;
font-weight: bold;
cursor: pointer;
}

img{
    max-width: 100%;
    display: block;
}
.spnBold{
    font-weight: bold;
}
/* header */

header{
    background-color:#232f3e ;
    padding: 1rem 0rem;
}

.titulo_header{
    display: flex;
    align-items: center;
    
}

.img_header{
    width: 3rem;
    margin: 0px 1rem;
}

/* main */

.main{
    margin-top: 2rem;
    padding:4rem 0px ;
}

.sobre_main{

    width: 90%;
    margin: 0 auto;
}

.parrafo_sobre p{
    margin: 2rem 0px;
    font-size: 1.7rem;
}

/* section_form */

.section_form{
    background-color: #232f3e;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0px;
}

.titulo_form{
    text-align: center;
    color: white;
    border-bottom: 2px solid #d92757;
}

form{
    margin: 3rem 0px;
    padding: 0px 2rem;
}

label{
    display: block;
    color: white;
    font-size: 1.9rem;
    margin: 1rem 0px;
}

form p{
    color: white;
    font-size: 2rem;
    margin: 2rem 0px;
}

input[type=text],input[type=number]{
    border-bottom: 1px solid #1f1f1f;
    border-top: 1px solid #1f1f1f;
    border-left: 1px solid #1f1f1f;
    border-right: 1px solid #1f1f1f;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f2265d;
    background-color: #202020c0;
}

footer{
    background-color: #232f3e;
    color: white;
    text-align: center;
    margin-top: 2rem;
}